<h1>Arma tu pizza</h1>

<app-entrada-ingrediente (valor)="agregarIngrediente($event)"></app-entrada-ingrediente>

<h3>Ingredientes escogidos</h3>

<button type="button" (click)="eliminarIngredientes()" [disabled]="ingredientes.length == 0">
  Eliminar todos
</button>

<ul id="ingredientes">
  <li *ngFor="let ingrediente of ingredientes; let i = index">
    {{ ingrediente }} <button type="button" (click)="eliminarIngrediente(i)">Eliminar</button>
  </li>
</ul>

<button type="button" (click)="guardarIngredientes()">
  Guardar
</button>